# Idea and my
.idea
etc/users.txt

# Cmake and garbage
CMake*
cmake_install.cmake
Makefile
newyear_roulette
users/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.swp
*.swo
users.txt
